.aboutMain{
    background-image: url(image/aboutUsImage3.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    height:100vh;
    display: flex;
    padding: 100px 0px;
    justify-content: space-around;
    gap: 10px;
}

.A-left{
    width: 40%;
    display: grid;
    place-items: center;
    color: white;
    background-color: rgba(102, 102, 231, 0.726);
    font-style: italic;
    font-weight: bold;
    font-size: larger;
}
.A-right{
    width: 60%;
    display: grid;
    place-items: center;
    background-color: rgba(255, 255, 255, 0.808);
    padding: 30px;
}
.A-right p{
    margin: 0px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.00938em;
}